.header-component {
    border: 2px solid lightpink;
}

.nav-component {
    border: 2px solid lightsalmon;
}

.body-component {
    height: 100%;
}

.emailApp-main {
    flex-grow: 1;
}

.email-side-nav {
    background-color: lightblue;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 2px;
    padding: 10px;
}

.nav-item {
    margin: 5px;
    padding: 5px;
    background-color: lightgrey;
}


/* .email-filter {
    margin-top: 10px;
} */

.email-list {
    padding: 0px
}

.short-preview {
    background-color: lightskyblue;
    padding: 5px;
    border-radius: 2px;
    margin: 2px;
}

.extended-preview {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.email-body {
    background-color: rgb(253, 219, 127);
    ;
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
}

.email-compose-title {
    background-color: lightgray;
    padding: 5px;
    font-weight: bold;
}

.compose-commands {
    margin: 10px;
    width: 50px;
    height: 50px;
}

.preview-commands {
    margin: 2px;
    width: 35px;
    height: 35px;
}

.btn {
    border-radius: 4px;
    border: none;
    width: 60px;
}

.delete-btn {
    border: 2px solid red;
    background-color: pink;
    /* background-image: url("/img/delete.png"); */
}

.undelete-btn {
    border: 2px solid turquoise;
}

.large-subject {
    font-size: 2rem;
}