/* .show-notes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 20px;
    grid-gap: 20px;
    margin-top: 15px;
    
}

.txtNotes {
    border: 1px solid aqua;
    text-align: center;
    height: 150px;
}

.add-note {
    text-align: center;
} */