.router-link-active:not(.menu-item) {
    /* color: blue; */
    /* border: 2px solid #C3C3C3; */
    border-radius: 10px;
    background-color: #C3C3C3;
}

.nav-bar {
    flex-direction: column;
    position: fixed;
    background-color: #C3C3C3;
    border: 4px solid black;
    box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    top: 60px;
    right: 20px;
    /* height: 200px; */
    /* width: 200px; */
    padding: 10px;
    transition: all .6s;
    z-index: 100000;
}

.nav-component {
    border: 2px solid #8d9db6;
}

.menu-item {
    color: white;
    margin-right: 10px;
}

.hamburger {
    margin-right: 10px;
    height: 40px;
    cursor: pointer;
}

.logo {
    margin-left: 10px;
    height: 40px;
    /* cursor: pointer; */
}

.body-component {
    height: 100%;
}

.email-main {
    flex-grow: 1;
}

.email-side-nav {
    height: 85vh;
    background-color: #4D728C;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 2px;
    padding: 10px;
}

.nav-item {
    margin: 5px;
    padding: 5px;
    /* background-color: lightgrey; */
}

.show-hide {
    right: -400px;
}

.email-list {
    height: 100%;
    padding: 0px;
}

.email-preview-header {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 2px solid lightgray;
    background-color: white;
    padding: 5px;
    border-radius: 2px;
}

.sorting-header {
    width: 100%;
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 2px;
}

.sorting-header-spacer {
    width: 100px;
}

.sorting-header-txt {
    margin: 2px;
    width: 100%;
}

.short-preview {
    background-color: #C3C3C3;
    padding: 5px;
    border-radius: 2px;
    margin: 2px;
}

.email-preview-txt {
    margin: 10px;
    width: 100%;
}

.extended-preview {
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 4px;
}

.email-body {
    background-color: white;
    ;
    margin: 10px;
    padding: 20px;
    border-radius: 4px;
}

.email-compose-title {
    background-color: lightgray;
    padding: 5px;
    font-weight: bold;
}


/* .email-user-msg {
    position: absolute;
    bottom: 50;
} */

.compose-commands {
    cursor: pointer;
    margin: 10px;
    width: 30px;
    height: 30px;
}

.new-email-img {
    cursor: pointer;
    margin: 10px;
    width: 50px;
    height: 30px;
}

.preview-commands {
    cursor: pointer;
    margin: 2px;
    width: 35px;
    height: 35px;
}

.btn {
    border-radius: 4px;
    border: none;
    width: 60px;
}

.email-filter-read-btn {
    height: 30px;
    width: 120px;
    border-radius: 10px;
    border: none;
    background-color: lightgray;
}

.email-filter-read-btn-on {
    background-color: #4D728C;
}

.large-subject {
    font-size: 2rem;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

@media screen and (max-width:600px) {
    .email-app-body {
        flex-direction: column
    }
    .email-side-nav {
        height: 10vh;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px;
    }
    .email-side-nav-button-container {
        flex-direction: row;
        align-items: center
    }
    .email-filter {
        margin-right: 10px;
    }
    .email-details-container {
        margin-bottom: 10px;
    }
    progress {
        margin-right: 12px;
    }
}