@font-face {
    font-family: 'Montserrat';
    src: url("../../../../font/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Coda';
    src: url("../../../../font/Coda/Coda-Heavy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}