body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.app-header{
    background-color: #d69b34;
    text-align: center;
}

.app-header h1{
    margin: 0px;
    font-size: 38px;
}

/*  */


.book-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 15px;
}
.book-list a{
    text-decoration: none;
    text-transform: capitalize;

}
.book-list h3{
    max-width: 90%;
    margin: 10px auto;

}


.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    cursor: pointer;
    margin: 0 10px 10px 0;
    padding: 10px;
    /* width: 300px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #6a6a6a;
    color: #ebecec;
    transition: all 0.3s
}
/* .test {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(139, 199, 248);
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
} */

.test img {
  width: 60%;
}

.sale {
    width: 50px;
    height: 50px;
} 

.book-details>img {
    /* width: 200px;
    height: 200px; */
    /* max-width: 250px; */
} 


.red {
    color: red;
}

.green {
    color: green;
}


/* ---------helper------------- */ 

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.clean-list {
list-style-type: none;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}


.hide {
    display: none;
}

input {
    padding: 5px;

}

img {
    width: 100%;
}
button {
    cursor: pointer;
}

/* .grid {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr)
} */

/* -------------------------- */
nav {
    padding: 20px;
}
nav a{
    padding: 10px;
    color: white;
    background-color:#d69b34;
}
nav a:hover {
    box-shadow: 0 0 11px black;

}
.router-link-active {
    color: black;
    font-weight: bold;
}


.book-details  {
    padding: 10px 0;
    /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;
}


.book-details-container {
    width: 90%;
    align-items: center;
    justify-content: center;
    background-color: #6a6a6a;
    box-shadow: 0 0 11px black;
}


.book-details-img {
    padding: 10px;
    margin:0 10px 0 0;
}
.book-details-img img {
  max-width: 250px;
}

.book-details h1,h4,h5,h3,p {
    margin: 0 0 20px ;
}

.book-details h1 {
    font-size: 28px;
    text-decoration: underline;
}

.book-details-header {
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: 0 10px 0 0;
    color: #fddb95;
}

.book-details-main p span,.book-details-header p span{
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}


.more-btn {
    font-size: 20px;
    min-width: 50px;
}
.amount {
    align-items: center;
}
.amount p{
margin:0 5px 0 0;
}
.amountColor {
    margin:0 0 0 5px;
}



/* about */



/* ------------------review------------- */
.review-book {
    text-align: center;
    padding: 10px;
}
 /* .back-btn {
    float: left;
} */
.review-book form{
    width: 60%;
    padding: 10px;
    margin: 0 10px;
    box-shadow: 0 0 7px black;
    background-color: #6a6a6a;
    color: wheat;
}
.form-header {
    margin: 0 0 10px;
}
form input,select,button,textarea {
    margin:0 0 10px;
}

.reviews-item {
    padding: 10px;
    background-color: #6a6a6a;
    color: #fddb95; 
    box-shadow: 0 0 13px black;
}

.review-book select{
    color: gold;
    background: whitesmoke;
    font-size: 16px;
    text-align: center;
    padding: 5px;
}

.review-list h1 {
    margin: 0 0 10px;
    color: #7b5d37;
}
.review-list ul {
    margin: 10px  0 0 0;;
    padding: 0;
}

.filter-book{
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #d69b34;
}

button {
    border:none;
    background-color: #d69b34;
    color: #fddb95;
    padding: 10px;
    transition: all 0.3s;
}

button:disabled {
    opacity: 0.5;
    cursor: auto;
}
 button:hover:enabled{
   color: #7b5d37;
   background-color: #fddb95;
}


/* user msg */
.user-msg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #80808052;
}

.user-msg>div{
    background-color: white;
    border-radius: 20px;
    width: 50%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

.user-msg button {
    align-self: flex-start;
    background: transparent;
}

.success {
    border:1px solid green;
}
.success i, .success h2{
    color:green;
    margin:0 10px 0 0;
}
.error {
    border:1px solid red;
}
.error i ,.eror h2  {
    color:red;
    margin:0 10px 0 0;
}